.container {

    background-color: lightgreen;

}

.message-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;



}

.message-top {
    display: flex;
}

.messsage-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.message-text {
    padding: 10px;
    border-radius: 20px;
    background-color: darkgreen;
    color: white;
    max-width: 300px;

}

.textatbottom {
    font-size: 12px;
    margin-top: 10px;
}

.message-bottom {
    font-size: 15px;
    margin-top: 10px;
}

.message-self {
    align-items: flex-end;

}

.message-self .message-text {
    background-color: lightgreen;
    color: black;
}