.container {
    background-color: lightcyan;
    margin: 10px 0 10px 0;
    padding: 20px;

}

.sidebar-friend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.sidebar-freindimg{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit:cover;
    margin-left: 5px;
    
}

.sidebar-button{
    width: 50%;
    height: 10px;
    justify-content: center;
    align-items: center;
}
