.container{
    background-color: white;
}
.topbar-container{
    margin-top: 1px;
    height: 70px;
    width: 380%;
    background-color:green   ;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    z-index:999;

}

.topbar-left{
 flex: 3;
}

.logo{
    font-size: 24px;
    margin-left: 20px;
    margin-top: 2px;
    font-weight: bold;
    color: black;
    cursor: pointer;
   justify-content: center;
  position: absolute;

}
.search-bar{
    width: 300px;
    height: 100px;
    margin-top: 10px;
    margin-right: 10px;
    padding:10px ;
    background-color: white;
    border-radius: 40px;
    display: flex;
    align-items:center;
}
.topbar-centre{
    flex: 4;
}


.search-icon{
    width: 70%;
    height: 90%;
    font-size: 15px;
    margin-left: 20px;
    padding: 10px;
    margin-top:  20px;

}
.searchInput:focus{
    outline: none;

}

.topbar-right{
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:black;
}

.topbaricon{
   display: flex;
}

.topbariconitems{
    width: 15px;
    height: 15px;
    margin: 5px;
    padding: -2px;
    margin-top: 2px;
    margin-right: 10px;
    cursor: pointer;
    position: sticky;
}
.topbariconbatch{
    width: 20px;
    height: 20px;
    background-color: lightgrey;
    border-radius: 50%;
    color: grey;
    position:absolute ;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;

}